@import "../../../styles/variables.scss";

.favorites {
  display: flex;
  flex-direction: column-reverse;
  gap: 0.5em;
  margin: 2em 0em;

  .favoirtesItem {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    gap: 1em;

    .itemImage {
      border-radius: $border-radius-small;
      width: 100px;
      height: 100px;
      object-fit: contain;
    }

    .itemInfo {
      font-size: 13px;
      text-align: left;
    }

    .removeButton {
      padding: 0.9em;
      background-color: $red-error-color;
      color: $white-color;
      border: none;
      border-radius: $border-radius-big;
      cursor: pointer;
    }
  }
}
