@import "../../../styles/variables.scss";

.changePasswordForm {
  margin: 3em 0em;
  display: flex;
  flex-direction: column;

  font-family: $inter;
  text-align: left;
  font-size: 13px;

  .formInputContainer {
    margin: 0.5em;
    .inputLabel {
      font-weight: $standard-bold;
    }

    .inputError {
      font-size: 8px;
      color: $red-error-color;
      font-weight: $standard-bold;
    }
  }

  .submitButtonContainer {
    display: flex;
    flex-direction: column;
    gap: 1em;
    justify-content: center;
    align-items: center;
    text-align: center;

    .inputError {
      font-size: 8px;
      color: $red-error-color;
      font-weight: $standard-bold;
    }

    .submitButton {
      width: 75%;
    }
  }
}
